.product{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin: 5px;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0,0.4 );
}
.product .product_name{
    font-size: 1.5rem;
}
.product > img{
    height: 170px;
    border-radius: 8px;
}
.product_info{
    margin-bottom: 8px;
}
.product .product_price{
    font-weight: bold;
}
.product .view_btn{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
}
.product .view_btn:hover{
    background-color: #333;
    color: #f4f4f4;
}
/* @media(max-width:1350px){
       .product{
           width: 410px;
       }
    
}
@media(max-width:1210px){
       .product{
           width: 350px;
       }
    
}*/
@media(max-width:950px){
       .product{
           width: 400px;
       }
    
} 
@media(max-width:837px){
       .product{
           width: 350px;
       }
    
} 
@media(max-width:737px){
       .product{
           width: 300px;
       }
    
} 